
.title {
    margin: 5% 0;
    text-align: center;
}

.input-button{
    text-align: center;
}

.input {
    padding: 0 20%;
}

.searchResults{
    text-align: center;
}

.dropdown-buttons{
    text-align: center;
}

.dropdown-menu {
    left: 50%;
    right: auto;
    text-align: center;
    transform: translate(-50%, 0);
}

.text-box{
    text-align: center;
    margin: 0 20%;
}

.notes {
    text-align: center;
}

a.disabled {
    display: none;
}