
<div class="container">
  <div class="row title">
    <h1>Welcome to PostgreSQL!</h1>
  </div>
  <div class="row notes">
      <h4>Manually select query to execute:</h4>
      <div class="instructions">
        <div class="panel panel-success">
          <div class="panel-heading">
            <h3 class="panel-title">To <b><u><i>INSERT</i></u></b>:</h3>
          </div>
          <div class="panel-body">
              <p>Provide table attributes and values, each separated by a space. </p>
              <p>For example, if you are inserting into Users table with NAME = Nick, AGE = 30, then type "NAME AGE" in Attributes field
                and "Nick 30" in Values field.</p>
          </div>
        </div>

      <div class="instructions2">
        <div class="panel panel-danger">
          <div class="panel-heading">
            <h3 class="panel-title">To <b><u><i>DELETE</i></u></b>:</h3>
          </div>
          <div class="panel-body">
              <p>Provide table attributes and primary key.</p>
              <p>For example, if you are deleting from Users table with SSN = 123456789, then type "SSN" in Attributes field
                  and "123456789" in Values field.</p>
          </div>
        </div>

      <div class="instructions3">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">To <b><u><i>UPDATE</i></u></b>:</h3>
          </div>
          <div class="panel-body">
              <p>Provide table attributes and values.</p>
              <p>For example, if you are updating Users table for user with SSN = 123456789, and you want to update the AGE to 45,
                  then type "SSN AGE" in Attributes field and "123456789 35" in Values field.</p>
          </div>
        </div>

    </div>
  </div>
  <br>

  <div class="row">
    <div class="col-sm-2 dropdown-buttons">
      <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          {{ tableSelection }}
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
          <li><a (click)="changeTableSelection('Restaurants')">Restaurants</a></li>
          <li><a (click)="changeTableSelection('Users')">Users</a></li>
          <li><a (click)="changeTableSelection('Reviews')">Reviews</a></li>
          <li><a (click)="changeTableSelection('Checkins')">Checkins</a></li>
        </ul>
      </div>
    </div>
    <div class="col-sm-2 dropdown-buttons">
      <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          {{ actionSelection }}
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
          <li><a (click)="changeActionSelection('Insert')">Insert</a></li>
          <li><a [class.disabled]="updateDisabled" (click)="changeActionSelection('Update')">Update</a></li>
          <li><a (click)="changeActionSelection('Delete')">Delete</a></li>
        </ul>
      </div>
    </div>
    <form class="form-horizontal" #avf="ngForm" (ngSubmit)="submitAandV(avf)" novalidate>
        <div class="col-sm-6 form-group specialValues">
          <input type="text" class="form-control" placeholder="Attributes" name="Attributes" ngModel>
          <input type="text" class="form-control" placeholder="Values" name="Values" ngModel>
        </div>
        <button class="col-sm-2 btn btn-default">Submit</button>
    </form>
    <!-- <div class="col-sm-3">
      <form class="form-horizontal" #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Attributes" name="queryString" ngModel>
        </div>
      </form>
    </div>
    <div class="col-sm-3">
      <form class="form-horizontal" #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Values" name="queryString" ngModel>
        </div>
      </form>
    </div>
    <div class="col-sm-2">
        <button class="btn btn-default">Submit</button>
    </div> -->
  </div>
  <br>
  <div class="row notes">
      <h4>Manually enter query to execute:</h4>
      <br>
  </div>
  <div class="row text-box">
      <form class="col-sm-12 form-horizontal" #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="SQL Query" name="queryString" ngModel>
        </div>
        <button class="btn btn-default">Submit</button>
      </form>
  </div>
  <br>
  <div class="row notes">
      <h4>Pre-programmed SQL Queries</h4>
      <br>
  </div>
  <div class="row dropdown-buttons">
    <div class="dropdown">
      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        Pre-programmed SQL Queries
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li><a (click)="search(this.commands[0])">Display all users that have at least 1 review</a></li>
        <li><a (click)="search(this.commands[1])">Display the name of the users that have made 2 reviews or less</a></li>
        <li><a (click)="search(this.commands[2])">Display all inactive businesses</a></li>
        <li><a (click)="search(this.commands[3])">
          Display the names of all pizza restaurants that have a rating of 4 stars or above</a></li>
        <li><a (click)="search(this.commands[4])">Display the number of stores that had at least one check-in on Friday</a></li>
        <li><a (click)="search(this.commands[5])">Display the text of all reviews made for the “Arcadia Tavern”</a></li>
        <li><a (click)="search(this.commands[6])">Display the names of the restaurants that have taken at least one 1-star or 2-star
            review</a></li>
        <li><a (click)="search(this.commands[7])">Display the average rating and total number of reviews of all KFC stores</a></li>
        <li><a (click)="search(this.commands[8])">Display a list of the ids of the top 10 stores in terms of the number of reviews they
            have received</a></li>
        <li><a (click)="search(this.commands[9])">Display the name of the user that has made the most reviews</a></li>
      </ul>
    </div>
    <br>
    <p>(Note: number of results displayed is being capped to 100 to prevent front-end UI from crshing.)</p>
  </div>
  <br>
  <br>
  <div class="row searchResults">
    <div class = "panel-group col-sm-12" *ngFor="let result of searchResults; let i = index">
      <div class = "panel panel-default">
          <div class="panel-heading">
            <div *ngFor="let item of result | keyvalue">
                <p>{{item.key}}: {{item.value}}</p>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>